/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  scrollbar-width: none;
  msOverflowStyle: none;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

/* Prevent body from having extra padding */
body {
  margin: 0;
  padding: 0;
}